<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="CanonicalHostNameRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^sqltosparql\.info$" negate="true" />
                        <add input="{HTTP_HOST}" pattern="^sqltosparql$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="http://sqltosparql.info/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
